<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./styles.css" />
    <title>Cafe with a Vue</title>
  </head>
  <body>
    <div id="app" class="app">
      <h1>{{ restaurantName }}</h1>
      <p class="description">
        Welcome to {{ restaurantName }}! We are known for our freshly baked
        bread and french pastries! Give you morning a warm start or treat
        yourself in the middle of the day. Our butter is imported from local
        farmers in France. Once you take your first bite, you will see why
        everyone can't get enough!
      </p>

      <section class="menu">
        <h2>Menu</h2>
        <div class="menu-item" v-for="item in simpleMenu">
          <img
            class="menu-item__image"
            :src="item.image.source"
            :alt="item.image.alt"
          />
          <div>
            <h3>{{ item.name }}</h3>
            <p v-if="item.inStock">In Stock</p>
            <p v-else>Out of Stock</p>
            <div>
              <label :for="'add-item-quantity-' + item.name">Quantity:</label>
              <input :id="'add-item-quantity-' + item.name" type="number"/>
              <!--<button @click="addToShoppingCart(item.name, 2)">Add to Shopping Cart</button>
              -->
              <button @click="addToShoppingCart(item.name, this.document.getElementById('add-item-quantity-' + item.name).value)">Add to Shopping Cart</button> 
            </div>
          </div>
        </div>
      </section>

      <aside class="shopping-cart">
        <br><br><br><br><br><br><br><br>
        <h2>Shopping Cart: {{ totalNumberItemsShoppingCart }} items</h2>
        <p v-for="item in simpleMenu">Number {{ item.name }} = {{ item.quantityInShoppingCart }}</p>
      </aside>

      <h2>Contact Us</h2>
      <p>Address: {{ address }}</p>
      <p>Phone: {{ phone }}</p>
      <p>Email: {{ email }}</p>
      <p>Hours:</p>
      <ul>
        <li>M-F: 06:00 to 16:00</li>
        <li>Saturday: 07:00 to 14:00</li>
        <li>Sunday: 07:00 to 12:00</li>
      </ul>

      <footer class="footer">
        <p>{{ copyright }}</p>
      </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      const app = new Vue({
        el: '#app',
        data: {
          address: '9274 Beurre Ave, Paris, France',
          email: 'hello@cafewithavue.bakery',
          phone: '+08 88 88 88 88 88',
          restaurantName: 'Cafe with A Vue',
          simpleMenu: [
            {
              name: 'Crossiant',
              image: {
                source: './images/crossiant.jpg',
                alt: 'A crossiant'
              },
              inStock: true,
              quantity: 1,
              quantityInShoppingCart: 0
            },
            {
              name: 'French Baguette',
              image: {
                source: './images/french-baguette.jpeg',
                alt: 'Four French Baguettes'
              },
              inStock: true,
              quantity: 1,
              quantityInShoppingCart: 0
            },
            {
              name: 'Éclair',
              image: {
                source: './images/eclair.jpg',
                alt: 'Chocolate Éclair'
              },
              inStock: false,
              quantity: 1,
              quantityInShoppingCart: 0
            }
          ]
        },
        computed: {
          copyright() {
            const currentYear = new Date().getFullYear()

            return `Copyright ${this.restaurantName} ${currentYear}`
          },
          totalNumberItemsShoppingCart() {
            var total = 0
            const menu = this.simpleMenu
            for(i in menu) {
              total += menu[i].quantityInShoppingCart
            }
            return total
          }
        },
        methods: {
          addToShoppingCart(name, qty) {
            qty = parseInt(qty)
            var menu = this.simpleMenu
            if(isNaN(qty)) {
              return
            }
            for(i in menu) {
              item = menu[i]
              if(item.name == name) {
                this.simpleMenu[i].quantityInShoppingCart += qty
              }
            }

          }

          

        }

        
      })
    </script>
  </body>
</html>
